<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/dashboardhead') %>
        <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <style>
        .top{
        padding-top:10rem;
        }
        .body{
            color:black;
        }

    </style>
</head>

<body class="text-center">
    <%- include('./partials/dashboardnav') %>
   
<div class="container-fluid">

    <div class='row top'>
        <div class='col-8 offset-2'>
           
            <% for (a=0; a< docs.length; a++) {%>
            <form  class="form-signin" action="/edit/topic/<%= docs[a].id%>" id="form" method="POST" >
       
            <div class="form-row">
                <div class="col-8">
                   <label for="inputTopic" class="textlabel" ><%= docs[a].topic %></label>
                   
                  <p><b>Edit the topic below</b></p>
                   <br>
                  <textarea required name="topic"  class="form-control textboxes" id="topic" >
                    <%= docs[a].topic%>
                 </textarea>
               
               </div> 
               <% }%> 
              
               </div>
             <div class="row">
                <div class="col-2">
                    <button type="submit" class="btn btn-primary btn-danger btn-block">Re-Post</button>
                
                   </div>
             </div>
              
               </form>
              
</div>
</div>
</div>
        <!-- /.container -->
        <%- include('./partials/dashboardscript') %>

</body>

</html>