
<!doctype html>
<html lang="en">



  <%- include('./partials/dashboard') %> 
  <body>

    <%- include('./partials/loginNav') %> 
  
  <br>
  <br>
    
    <form  class="" action="/admin/users" id="form" method="POST">
     
<section id="breadcrumb">
<div class="container">
  <ol class="breadcrumb">
    <li >Approve Users</li>
  </ol>
</div>
</section>

<section id="main">
  <div class="container">
    <div class= "row">
      <div class="col-md-3">
      
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active main-color-bg" aria-current="true">
            <span class="iconify" data-icon="bi-gear-fill" data-inline="false" data-height="25">
            </span>
              Dashboard
          </a>
          <a href="#" class="list-group-item list-group-item-action">
             <span class="iconify " data-icon="bi-pencil" data-inline="false" data-height="15">
          </span>
              Posts &nbsp; 
              <span class="badge  badge-danger badge-pill">0</span></a>
          <a href="#" class="list-group-item list-group-item-action">
             <span class="iconify" data-icon="bi-list-task" data-inline="false" data-height="15">
          </span>
             Approval  &nbsp;   
             <span class="badge  badge-danger badge-pill">11345</span></a>
          <a href="#" class="list-group-item list-group-item-action">
             <span class="iconify" data-icon="bi-person" data-inline="false" data-height="15">
          </span>
             Users &nbsp; 
             <span class="badge  badge-danger badge-pill">0</span></a> 
           </div>
          
           <div class="card">

          
           </div>
      </div>
     
         
      <div class="col-md-9">

    <div class="card">
        <div class="card-header main-color-bg">
         Approve users to use the dashboard
       </div>
      
      <div class="card-body">
        <div class="row ">
          <table class="table table-striped table-hover table-responsive" name="tab">
            <tr>
              <th scope="col" >Name</th>
              <th scope="col">email</th>
              <th scope="col">Assign role</th>
              <th scope="col">Date</th>
              <!--<th scope="col">Created</th>-->
             
              <th scope="col">Approve</th>
            </tr>
            <% for(x=0; x< users.length; x++) {%>
            <tr>
              <td><input name="name" value="<%= users[x].name %>" type="text" class="tabCol"></td>
              <td><input name="email" value="<%= users[x].email %>" type="text" class="tabCol"></td>
               <td> <select id="role"  name="role" class="form-control tabCol"
                placeholder="Role" data-toggle="tooltip">
       
           <option disabled="disabled" selected="selected"selected value="">Role</option>
           
               <option value="moderator">Moderator </option>
               <option value="editor"> Editor</option>
               
             
           
            
           </select>
              </div></td>
              <td><%= users[x].date %></td>
              <!--<td>12/10/2020</td>-->
            <!--  <td><a href="/admin/editPosts" class="btn btn-dark">View</a>
            
            <a class="btn btn-danger"> Delete</a></td>-->
            <td> <select required id="Approve"  name="approve" class="form-control tabCol"
              placeholder="Approve" data-toggle="tooltip">
     
         <option disabled="disabled" selected="selected"selected value=""></option>
         
             <option value=true>Yes </option>
             <option value=false> No</option>
                     
          
         </select><!--<input type="checkbox" id="approve" name="approve" value="checked" unchecked>-->
            </td>
            </tr>
            <%}%>
          </table>
         </div> 
        
      </div>
      <div class="modal-footer">
      
        <button type="submit" class="btn btn-primary btn-danger">Approve</button>
      </div>
     </div>
  
    <!--website users-->
    <br>
 
</section>

</form>
<%- include('./partials/dashScripts') %>
</body>
</html>
